<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/assets/css/flexboxgrid.min.css">
</head>
<body>
    {{{body}}}
</body>
{{#if production}}
    <script src="static/app.bundle.js"></script>
{{else}}
    <script src="http://localhost:3001/static/app.bundle.js"></script>
{{/if}}
</html>