<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/assets/css/bootstrap.css">
    {{{block "stylesheets"}}}
</head>
<body>
    {{{body}}}

    {{{block "scripts"}}}
</body>
</html>